{% extends 'base.html.twig' %}

{% block title %}ClientFinal index{% endblock %}

{% block body %}
    <h1>ClientFinal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Raison_sociale</th>
                <th>Enseigne</th>
                <th>Nom_responsable</th>
                <th>Adresse</th>
                <th>Code_postal</th>
                <th>Ville</th>
                <th>Telephone</th>
                <th>Fax</th>
                <th>Mobile</th>
                <th>Mail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client_final in client_finals %}
            <tr>
                <td>{{ client_final.id }}</td>
                <td>{{ client_final.raisonSociale }}</td>
                <td>{{ client_final.enseigne }}</td>
                <td>{{ client_final.nomResponsable }}</td>
                <td>{{ client_final.adresse }}</td>
                <td>{{ client_final.codePostal }}</td>
                <td>{{ client_final.ville }}</td>
                <td>{{ client_final.telephone }}</td>
                <td>{{ client_final.fax }}</td>
                <td>{{ client_final.mobile }}</td>
                <td>{{ client_final.mail }}</td>
                <td>
                    <a href="{{ path('client_final_show', {'id': client_final.id}) }}">show</a>
                    <a href="{{ path('client_final_edit', {'id': client_final.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_final_new') }}">Create new</a>
{% endblock %}
