{% extends 'base.html.twig' %}

{% block title %}Intervention index{% endblock %}

{% block body %}
    <h1>Intervention index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Rapport_technicien</th>
                <th>Observation_client</th>
                <th>Signature_client</th>
                <th>Signature_gbc</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intervention in interventions %}
            <tr>
                <td>{{ intervention.id }}</td>
                <td>{{ intervention.date ? intervention.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ intervention.rapportTechnicien }}</td>
                <td>{{ intervention.observationClient }}</td>
                <td>{{ intervention.signatureClient }}</td>
                <td>{{ intervention.signatureGbc }}</td>
                <td>
                    <a href="{{ path('intervention_show', {'id': intervention.id}) }}">show</a>
                    <a href="{{ path('intervention_edit', {'id': intervention.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('intervention_new') }}">Create new</a>
{% endblock %}
