{% extends 'base.html.twig' %}

{% block title %}PieceBI index{% endblock %}

{% block body %}
    <h1>PieceBI index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Designation</th>
                <th>PrixU_HT</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for piece_b_i in piece_b_is %}
            <tr>
                <td>{{ piece_b_i.id }}</td>
                <td>{{ piece_b_i.code }}</td>
                <td>{{ piece_b_i.designation }}</td>
                <td>{{ piece_b_i.prixUHT }}</td>
                <td>
                    <a href="{{ path('piece_b_i_show', {'id': piece_b_i.id}) }}">show</a>
                    <a href="{{ path('piece_b_i_edit', {'id': piece_b_i.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('piece_b_i_new') }}">Create new</a>
{% endblock %}
