{% extends 'base.html.twig' %}

{% block title %}PieceBI{% endblock %}

{% block body %}
    <h1>PieceBI</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ piece_b_i.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ piece_b_i.code }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ piece_b_i.designation }}</td>
            </tr>
            <tr>
                <th>PrixU_HT</th>
                <td>{{ piece_b_i.prixUHT }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('piece_b_i_index') }}">back to list</a>

    <a href="{{ path('piece_b_i_edit', {'id': piece_b_i.id}) }}">edit</a>

    {{ include('piece_b_i/_delete_form.html.twig') }}
{% endblock %}
